.document-set-list {
    .document-set {
        .document-set-title {
            font-weight: 700;
            border-bottom: 1px solid $gray-lighter;
        }

        margin-bottom: 2em;

        i {
            margin-right: 12px;
        }
        .document-info {
            .document-line{
                padding: 8px 0;
            }


            .btn{
                margin-left: 12px;
            }

            .icon-status{
                display:inline-block;
                width: 100px;
                text-align:right;
            }
            .rejection-info{
                margin-left: 100px;
                color: $deep-red;
            }

            // .file-controls{

            //      padding: 8px 0;
            //     margin-left: 100px;
            // }
        }
        .document-set-controls{
            padding: 8px 0;
            margin-left: 100px;
        }
    }
}