.document-set .document{
    background: $gray-lighter;
    margin: 10px;
    padding: 10px 0;
    min-height:150px;
    border-radius: 4px;

    h3 {
        margin-top: 5px;
    }

    .preview {
        width: 120px;
    }
}

.documents-nav {
    .documents-nav-section {
        margin-bottom: 24px;
    }

    .documents-nav-title {
        font-weight: 500;
        position: relative;
        color: $gray;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 6px;

        li {
           // font-size: 1.15em;
            line-height: 1.5em;

            a {
                display: block;
                padding: 6px 18px;
                border-radius: 4px;

                &:hover {
                    background: #eee;
                    text-decoration: none;
                }

                &.active {
                    background: #eee;
                    font-weight: bold;
                }
            }
        }
    }
}