.document-set-list {

    .document-set {
        .document-set-title {
            font-weight: 700;
            border-bottom: 1px solid $gray-lighter;
            color: $gray-dark;
        }

        margin-bottom: 2em;


        .btn{
            margin-left: 12px;
            i {
                margin-right: 6px;
            }
        }
        .rejection-info{
            color: $deep-red;
        }
        .pending-info{
            color: $state-warning-text;
        }
        .signed-info{
            color: $state-success-text;

        }
        .document-set-controls .btn{
            margin: 0;
            margin-right:12px;
        }
        .document-set-controls{
            td{
                width:100%;
            }
        }
        .document-set-controls:hover{
            background-color: white;
        }


        table{
             width:100%;
            tr.condensed td{
                padding: 2px 8px;
                text-align:center;
                    width: 100%;
            }
            td{
                float:left;
                padding: 8px;
                    word-break: break-word;
                    border-top: none;

            }
            td.file-controls{
                @extend .btn-group;
                text-align:center;
                    width: 100%;
                .btn{
                       margin-left: 0;
                       float:none;
                }
                padding:0;
            }
            td.status{
                width:25%;
                text-align:right;
                .sign-status{
                    margin:0;
                }

            }
            td.filename{
                width:75%;
            }
           td.filename-icon{
                display:none;
           }

       }
    }



    @media(min-width: $screen-md) {
         .document-set {
            table{
            tr.condensed td{
                text-align:left;
                    width: auto;
            }

                td{
                    float:none;
                }
                td.status{
                         width:100px;
                }
                td.filename{
                    width:auto;
                }
                  td.filename-icon{
                    display:table-cell;
                    width:20px;
                    text-align:right;
                  }
                td.file-controls{

                    text-align:right;
                    min-width: 326px;
                    padding: 8px;
                }
            }
        }
    }
}