.document-set-list {

    .document-set {
        .document-set-title {
            font-weight: 700;
            border-bottom: 1px solid $gray-lighter;
            color: $gray-dark;
        }

        margin-bottom: 2em;

        table{
            width:100%;
            td{
                padding: 8px;
            }
            tr.condensed td{
                padding: 2px 8px;
            }
            td.status{
                width:100px;
                text-align:right;
                .sign-status{
                    margin:0;
                }
            }
            .filename-icon{
                width:20px;
                text-align:right;
            }
        }


        .btn{
            margin-left: 12px;
            i {
                margin-right: 6px;
            }
        }
        .rejection-info{
            color: $deep-red;
        }
        .pending-info{
            color: $state-warning-text;
        }
        .signed-info{
            color: $state-success-text;
        }
        .document-set-controls .btn{
            margin: 0;
            margin-right:12px;
        }
        .document-set-controls:hover{
            background-color: white;
        }

        .file-controls{
            text-align:right;
            @media(min-width: $screen-md-min) {
                min-width: 300px;
            }
        }
    }
}