.centered-button-row{
    text-align: center;
    .btn-toolbar{
        display: inline-block;
    }
}

form{
    ul{
        padding: 0;
        li {
            list-style:none;
        }
    }
}

.form-group.has-feedback {
    &.has-error {
        .rw-widget {
            border: 1px solid #a94442; //ugh im lazy
        }
    }

    &.has-success {
        .rw-widget {
            border: 1px solid #3c763d; //ugh im lazy
        }
    }
}

