
nav {
    background-color: $deep-red;
    background-image: $header-image;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    height: $header-height-sml;
    min-height:auto;
}
.navbar{
    border: none;
    .dropdown-toggle{
        font-size:24px;
        line-height:24px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .dropdown-menu{
        text-shadow: none;
    }
}