nav {
    background-color: $deep-red;
    background-image: $header-image;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    height: $header-height-sml;
    
    @media (min-width: $screen-sm-min) {
        height: $header-height;
    }
}
.header {
    .navbar-header {
        display: inline-block;
        
        img {
            height: $header-height-sml - 15px;
            margin: 10px 0 5px;

            @media (min-width: $screen-sm-min) {
                height: $header-height - 15px;
            }
        }
    }

    .account-nav li {
        display: inline-block;
        padding: 8px;

        a {
            color: white;
        }
    }
}

.explanation {
    color: $deep-red;
    text-align: center;
    cursor: pointer;
    line-height: 200px;
}

.account-nav {
    float: right;

    li {
        display: inline-block;
        padding: 8px 15px;
    }
}