.react-draggable{
    z-index: 10;
}

$background: #fff;
.controls{
    width:100%;
    background-color:$gray-lighter;
    height:50px;
        z-index: 10;
    .container{
        text-align:center;
        & > div{
            display:inline-block;
                padding: 6px 20px;
            button{
            }
        }
    }
}
.drag-container{

}
.pdf-container{
    padding: 30px 0;
}
.pdf-screen{
    background: $background;


    .pdf-viewer {
        .pdf-title {
            font-size: 2em;
            font-weight: 700;
            text-align: center;
        }

        .pdf-preview-panel {
background: #fff;
    position: fixed;
    bottom: 50px;
    top: 100px;
    overflow: auto;

            .pdf-thumbnail {
                position: relative;


                .pdf-thumbnail-number {
                    background: $dark;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3px 10px;
                    text-align: center;
                    vertical-align: middle;
                    color: white;
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
                        z-index: 2;
                }

                &.selectable {
                    cursor: pointer;

                    canvas {
                        border: 5px solid $dark;
                    }

                    &.selected {
                        canvas {
                            border: 5px solid $light-red;
                        }

                        .pdf-thumbnail-number {
                            background: $light-red;
                        }
                    }
                }
            }
        }

        .pdf-container {

        }

        .pdf-page-wrapper {
            position: relative;
            margin: 2em auto;
            max-width: 900px;
        }

        .pdf-page {
                position:relative;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            }
        .pdf-page before, .pdf-page:after {
            content:"";
            position:absolute;
            z-index:-1;
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:50%;
            bottom:0;
            left:10px;
            right:10px;
            border-radius:100px / 10px;
        }

        .pdf-page-number{
            text-align: center;
        }

        .button-row{
            text-align:center;
        }
    }
}
