.react-draggable{
    z-index: 10;
}
$control-height:50px;
$background: #fff;
.controls{
    width:100%;
    background-color:$gray-lighter;
    height: $control-height;
    z-index: 20;
        box-shadow: 0 4px 2px -2px $gray-light;

    .container{
        text-align:center;
        padding-top: 5px;
    }

    $button-height: #{$control-height - 10px};
    .signature-button {
        height: $button-height;
        border: 1px solid $gray;
        border-bottom: 4px solid $gray;
        background-color: white;

            cursor: move;
        max-width: 180px;
         margin: 0 auto;
            display: table;
        width: 100%;
        transition: all 300ms ease-in-out;
        &:hover{
            background-color: $gray-lighter;
        }


        span{
            padding: 0 10px;
            display: table-cell;
            vertical-align: middle;
        }
        img{
             max-width: 100%;
             max-height: 30px;
        }
    }


}
.drag-container{

}

.pdf-screen{
    background: $background;


    .pdf-viewer {
        .pdf-title {
            font-size: 2em;
            font-weight: 700;
            text-align: center;
        }

        .page-list{
            padding-top:30px;
        }

        .affixed .pdf-preview-panel{
             height: calc(100vh - #{$control-height + 8 + 8});
        }

        .pdf-preview-panel {
            background: #fff;
            margin: 8px 0;
            overflow: auto;
            height: calc(100vh - #{$header-height + $control-height + 8 + 8});
                overflow-x: hidden;
                position:relative;
            .pdf-thumbnail {
                position: relative;
                margin-bottom: 16px;

                .pdf-thumbnail-number {
                    background: $dark;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3px 10px;
                    text-align: center;
                    vertical-align: middle;
                    color: white;
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
                    z-index: 2;
                    transition: background-color 300ms ease-in-out;
                }

                &.selectable {
                    cursor: pointer;
                      border: 5px solid $dark;
                      transition: border 300ms ease-in-out;
                   &.active {
                        border: 5px solid $light-red;
                      .pdf-thumbnail-number{
                        background-color: $light-red;
                      }

                    }

                }
            }
        }

        .pdf-page-wrapper {
                position:relative;
                background-color: #fff;
                &.loaded{
                    box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.3);
                }
            }

        .pdf-page-number{
            text-align: center;
        }

        .button-row{
            text-align:center;
        }
    }
}
.signature-icon > img{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
        padding: 4px 16px;
    height: 36px;
}
.signature-wrapper{
     &.over {
        animation: page-hover 1.5s ease-in-out infinite alternate;
     }
}

.page-separator{
    margin-bottom:30px;
}

.loading-container{
   position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow:hidden;
}

.custom-drag{
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}