.react-draggable{
    z-index: 10;
}
$control-height:50px;
$background: #fff;
.controls{
    width:100%;
    background-color:$gray-lighter;
    height: $control-height;
    z-index: 20;
        box-shadow: 0 4px 2px -2px $gray-light;

    .container{
        text-align:center;
        & > div{
            display:inline-block;
                padding: 6px 20px;
            button{
            }
        }
    }
}
.drag-container{

}

.pdf-screen{
    background: $background;


    .pdf-viewer {
        .pdf-title {
            font-size: 2em;
            font-weight: 700;
            text-align: center;
        }

        .page-list{
            padding-top:30px;
        }

        .affixed .pdf-preview-panel{
             height: calc(100vh - #{$control-height + 8 + 8});
        }

        .pdf-preview-panel {
            background: #fff;
            margin: 8px 0;
            overflow: auto;
            height: calc(100vh - #{$header-height + $control-height + 8 + 8});
                overflow-x: hidden;
            .pdf-thumbnail {
                position: relative;
                margin-bottom: 16px;

                .pdf-thumbnail-number {
                    background: $dark;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3px 10px;
                    text-align: center;
                    vertical-align: middle;
                    color: white;
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
                    z-index: 2;
                    transition: background-color 300ms ease-in-out;
                }

                &.selectable {
                    cursor: pointer;
                      border: 5px solid $dark;
                      transition: border 300ms ease-in-out;
                   &.active {
                        border: 5px solid $light-red;
                      .pdf-thumbnail-number{
                        background-color: $light-red;
                      }

                    }

                }
            }
        }

        .pdf-page-wrapper {
                position:relative;
                box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.3);
                background-color: #fff;
            }

        .pdf-page-number{
            text-align: center;
        }

        .button-row{
            text-align:center;
        }
    }
}
.signature-icon > img{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
        padding: 4px 16px;
    height: 36px;
}
.signature-wrapper{
     margin-bottom: 30px;
}
.loading-container{
   position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow:hidden;
}