.select-signature {
    .selectable {
        border: 5px solid $dark;
        margin: 15px;
        width: calc(50% - 30px);

        &.selected {
            border-color: $light-red;
        }
    }
}
