.select-signature {
    .selectable {
        border: 5px solid $dark;
        margin: 15px;
        height: 120px;

        img {
            max-height: 110px;
        }

        @media(min-width: $screen-sm) {
            width: calc(50% - 30px);
        }

        &.selected {
            border-color: $light-red;
        }
    }
}

.signature-display {
    .btn {
        width: 500px;
        margin: 0 auto;
    }

    canvas {
        width: 500px;
        height: 200px;
        display: block;
        margin: 10px auto;
        border: 1px solid $dark;
        box-shadow: inset 0 0 5px 2px #ddd;
    }
}
