.side-menu{
    margin-top: 45px;
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 2px;
    ul{
        padding:0;
        ul{
            padding-left:16px;
            li{
                a{
                padding: 6px 0;

                }
            }
        }
        li{
            list-style:none;
            a{
                padding:  12px 0;
                display:inline-block;
                color: $gray;
            }
        }
    }
    a.active{
        font-weight: bold;
    }
}