.react-draggable{
    outline: 1px dashed black;
    .handler-corner{
        background: rgba(100, 100, 100, 0.1);
        border: 1px solid #777;
    }

    .positionable-controls {
        position: absolute;
        right: 15px;
        top: -25px;
        font-size: 20px;
        line-height: 20px;
        @extend .btn-group;
        min-width: 66px;

        & > button {
           @extend .btn;
           @extend .btn-default;
           @extend .btn-sm;
           font-size:16px;
           padding: 2px 8px;

            float:right;


            &:focus {
                outline: none;
            }

            &:hover {
                background: $gray-lighter;
            }
        }
    }

}

.date-drag{
    outline: 1px dashed black;
    text-align: center;
    img{
        width: 100%;
     }
}


.prompt-drag{
    outline: 1px dashed black;
    text-align: center;
    img{
        width: 100%;
     }
}


.prompt-controls{
    width: 200px;
}



.request-prompt{
    z-index: 1;
    position: absolute;
    outline: 1px dashed black;
    background-size: 100% 100%;
    cursor: pointer;
}

/*
.prompt-positionable{
       background: repeating-linear-gradient(
          -55deg,
          #222,
          #222 10px,
          #333 10px,
          #333 20px);
}
*/