.request-signature{
    .request-signature-title{
        .inviter{
            font-weight:  bold;
        }
        border-bottom: 1px solid $gray-lighter;
    }
    margin-bottom: 2em;
    .document-line{
        padding: 8px 0;
    }
}