.react-draggable{
    outline: 1px dashed black;
    .handler-corner{
        background: rgba(100, 100, 100, 0.1);
        border: 1px solid #777;
    }

    .positionable-controls {
        position: absolute;
        right: 15px;
        top: -25px;
        font-size: 20px;
        line-height: 20px;
        & > button {
            background-color: #fff;
            border-radius: 10px;
            color: $gray;
            padding: 0 2px;
            &:focus{
                 outline: none;
            }
        }
    }

}

.date-drag{
    outline: 1px dashed black;
    text-align: center;
    img{
        width: 100%;
     }
}


.prompt-drag{
    outline: 1px dashed black;
    text-align: center;
    img{
        width: 100%;
     }
}


.prompt-controls{
    width: 200px;
}


/*
.prompt-positionable{
       background: repeating-linear-gradient(
          -55deg,
          #222,
          #222 10px,
          #333 10px,
          #333 20px);
}
*/