@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "~catalex_shared/sass/catalex-vars";

$headings-font-family: inherit;
$header-image:url("~catalex_shared/images/hero-bg.jpg");
$light-red: rgb(197, 27, 36);
$label-color: $text-color;
$input-border-width: 2px;
$body-bg:  #fff;
$font-size-base: 17px;
$btn-primary-color: white;
$btn-primary-bg: $light-red;
$btn-primary-border: $light-red;
$dark: lighten(black, 35%);
$header-height: 50px;
$navbar-height: $header-height;
$header-height-sml: $header-height;
$navbar-margin-bottom: 0px;


@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/close";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";


// @import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "~font-awesome/scss/variables";
$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/path";
@import "~font-awesome/scss/core";
@import "~font-awesome/scss/icons";



@import "header";
@import "footer";
@import "pdf-viewer";
@import "select-signature";
@import "loading";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */

  -webkit-font-smoothing: antialiased;
  font-family: -apple-system,Helvetica Neue,Roboto,Segoe UI,Lucida Grande,sans-serif;
}

a {
    cursor: pointer;
}

.alert {
    margin: 2em auto;
    max-width: 900px;
}


.document-list{
    margin-top: 20px;
}

.document{
    float:left;
    position: relative;
    width: 170px;
    padding: 10px;
    margin: 10px;
    min-height:150px;
    cursor: move;
    background-color: white;
    background-color: #f8f8f8;
    border-radius: 8px;

    $font-size: 12px;
    $line-height: 1.4;
    $lines-to-show: 2;

    .filename {

      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
        text-align:center;
        margin-top: 4px;
    }

    .image{
        width: 150px;
        height: 212px;
        background-color:#efefef;
    }
    .progress{
        position:absolute;
        top: 120px;
        left: 10px;
        right: 10px;
        margin-bottom: 0;
        height: 16px;
    }
    .progress-leave {
      opacity: 1;
    }

    .progress-leave.progress-leave-active {
      opacity: 0.01;
      transition: opacity 500ms ease-in;
    }

    .remove{
         position: absolute;
        right: 10px;
        background-color: #666;
        top: 10px;
        border: none;
        border-radius: 8px;
        width: 29px;
        cursor: pointer;
        color: white;
        display:none;
    }
    &:hover .remove{
        display:block;
    }

}


.dropzone .push-catch{
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.explanation {
    color: $deep-red;
    text-align: center;
    cursor: pointer;
    margin: 80px 15px;
}


.button-bar{
    clear:both;
    text-align:center;
    margin: 20px;
    .checkbox{
        color:$light-red;
        label{
            font-weight:bold;
        }
    }
}

.workflow-option-wrapper {
    color: $gray-dark;
        display: block;
    margin-bottom:30px;
    position: relative;
    .workflow-option {
        text-align: center;
        display:block;
        border-radius: 4px;
        border: 1px solid $gray-lighter;
        padding: 40px 0;
        max-width: 300px;
        margin: 0 auto;
        box-shadow: 5px 5px 5px $gray-lighter;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color:white;
        .icon {
            font-size: 6em;
            margin-top: 30px;
        }
        h2{
            font-size: 1.3em;
        }
        &::after {
          content: "";
          border-radius: 5px;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          opacity: 0;
          transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

    }
    &.disabled{
        opacity: 0.5;
        &::after{
            //hahahah dont do this
            content: 'Coming Soon';
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 16px;
            font-style: italic;
        }
    }
    &:hover{
        text-decoration:none;
        color: $gray-dark;
    }
    &.enabled:hover{
        text-decoration:none;
        .workflow-option {
            color: $deep-red;
            transform: scale(1.2, 1.2);
            &::after{
                opacity: 1;
            }
        }
    }
}

.list-group-item {
    &:hover {
        background: $gray-lighter;
    }
}

.list-group-button {
    float: right;
    margin: -10px -15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 45px;
    width: 45px;
    background: none;
    border: none;
    color: $light-red;

    &:hover {
        color: darken($light-red, 15%);
    }
}

.title{
    text-align:center;
}

.page-heading{
    margin: 48px 0;
    .title.question{
        font-size:2.5em;
        color: $gray;
        margin:0;
    }
    .sub-title {
        font-size: 1.2em;
        text-align: center;
        color: $gray;
        font-style:italic;
    }
}