.verifications {
    padding: 30px;
    .verification {
        padding-bottom: 24px;
        position:relative;
        padding-left: 24px;
        .verification-icon {
            font-size: 1.2em;
            position: absolute;
            left: -25px;
        }

        .filename {
            font-size: 1.3em;
        }
    }
}