<!DOCTYPE html>
<html>
    <head>
        <title>CataLex Sign - CataLex®</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content="Electronic document signatures and verification"/>
        <link rel="icon" type="image/png" href="/favicon.png" >
    </head>

    <body>
        <script type="application/json" id="token">
        {{ token|tojson|safe }}
        </script>
        <script type="application/json" id="data">
        {{ store|tojson|safe }}
        </script>
        <div id="main"></div>

    </body>
</html>
